---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Disclaimer" description="Understand the sources and ownership of the wallpapers available on this site.">
  <section class="max-w-screen-lg mx-auto px-6 py-16">
    <h1 class="text-4xl font-bold text-center mb-6">Disclaimer</h1>
    
    <h2 class="text-2xl font-semibold mt-8">Sources</h2>
    <p>The following are the primary sources from which the wallpapers on this site have been collected:</p>
    <ul class="list-disc pl-6 mt-4">
      <li><a href="https://www.pixiv.net/en/" target="_blank" class="text-blue-500 hover:underline">Pixiv</a></li>
      <li><a href="https://wallpapercave.com/" target="_blank" class="text-blue-500 hover:underline">Wallpaper Cave</a></li>
      <li><a href="https://www.freepik.com/" target="_blank" class="text-blue-500 hover:underline">Freepik</a></li>
      <li><a href="https://in.pinterest.com/" target="_blank" class="text-blue-500 hover:underline">Pinterest</a></li>
      <li><a href="https://pixabay.com/" target="_blank" class="text-blue-500 hover:underline">Pixabay</a></li>
      <li><a href="https://unsplash.com/" target="_blank" class="text-blue-500 hover:underline">Unsplash</a></li>
      <li><a href="https://wallhaven.cc/" target="_blank" class="text-blue-500 hover:underline">Wallhaven</a></li>
      <li><a href="https://wallhere.com/" target="_blank" class="text-blue-500 hover:underline">WallHere</a></li>
      <li><a href="https://deviantart.com/" target="_blank" class="text-blue-500 hover:underline">DeviantArt</a></li>
      <li><a href="https://artstation.com/" target="_blank" class="text-blue-500 hover:underline">ArtStation</a></li>
      <li><a href="https://reddit.com/r/kustom/" target="_blank" class="text-blue-500 hover:underline">Reddit - r/kustom</a></li>
      <li><a href="https://tinkernerd.dev" target="_blank" class="text-blue-500 hover:underline">TinkerNerd</a></li>
    </ul>
    
    <h2 class="text-2xl font-semibold mt-8">Content Warning</h2>
    <p class="mt-4">Some images on this site may not be suitable for all audiences. Certain wallpapers may contain artistic or stylized content that some viewers may find inappropriate. Viewer discretion is advised.</p>
    
    <h2 class="text-2xl font-semibold mt-8">Ending Note</h2>
    <p class="mt-4">You may use <a href="https://download-directory.github.io" target="_blank" class="text-blue-500 hover:underline">download-directory</a> for downloading a specific directory.</p>
    
    <p class="mt-4">I do not own all of these images. Some of these are my own, including certain aerial images. All credits belong to the respective artists.</p>
  </section>
</Layout>
