---
import CommonHead from "@/components/CommonHead.astro";
import MainHeader from "@/components/MainHeader.astro";
import MainFooter from "@/components/MainFooter.astro";
import AgreementPopup from "@/components/AgreementPopup.tsx";


const {
    title,
    description,
    header: showHeader = true,
    footer: showFooter = true,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <CommonHead {title} {description}/>
  </head>
  <body class="pt-16">
    {showHeader && <MainHeader {title} />}
    {console.log("Rendering AgreementPopup in Layout.astro")} <!-- Debugging -->
    <AgreementPopup client:load /> <!-- Ensure it's loaded in the client -->		
    <slot />
    {showFooter && <MainFooter />}
  </body>
</html>


